/*********************************************
 * @file
 * Theme variables.
 */

 :root {
  /* Font sizes */
  --fontSize: 1em;
  --h1Size: calc(2.5rem + 1vw);
  --h2Size: calc(1.625rem + 1vw);
  --h3Size: calc(1.25rem + 1vw);
  --h4Size: 1.25rem;
  --smSize: 1rem;
  --lgSize: 1.25rem;

  /* Spacing */
  --spacing01: 0.125rem;
  --spacing02: 0.25rem;
  --spacing03: 0.5rem;
  --spacing04: 0.75rem;
  --spacing05: 1rem;
  --spacing06: 1.5rem;
  --spacing07: 2.25rem;
  --spacing08: 3rem;

  /* Layout scale */
  --layout01: 0.75rem;
  --layout02: 1rem;
  --layout03: 1.5rem;
  --layout04: 2.25rem;
  --layout05: 3rem;
  --layout06: 3.75rem;
  --layout07: 4.5rem;
  --layout08: 7.5rem;

  /* Radius */
  --radius01: 0.5rem;
  --radius02: 1.667rem;
  --radius03: 2.5rem;

  /* Grid spacing */
  --gridColumnGap: var(--spacing06);
  --gridRowGap: var(--layout03);

  /* Layout */
  --gutterWidth: var(--spacing05);
  --layoutWidth: calc(100vw - var(--gutterWidth) * 2);
  --layoutWidthMax: 1024px;
  --layoutDefaultSpacing: var(--layout05);
  --layoutContentWidth: var(--layoutWidth);
  --layoutContentSpacing: var(--layoutDefaultSpacing);

  /* Colors */
  --brandBlue: #003087;
  --lightBlue: #00aeef;
  --darkBlue: #002d56;
  --brightBlue: #0057b7;
  --beige: #bab296;
  --yellow: #edc417;
  --lightGreen: #94bb20;
  --darkGreen: #3d7a4a;
  --purple: #61116a;
  --orange: #eb6305;
  --red: #d31245;
  --darkGrey: #333;
  --medGrey: #b6b6b6;
  --grey: #ddd;
  --lightGrey: #f2f2f2;
  --white: #fff;

  /* Theme colors */
  --color: var(--darkGrey);
  --colorInverse: var(--white);
  --bgColor: var(--white);
  --accentColor: var(--darkGreen);
  --headingColor: var(--brandBlue);
  --linkColor: var(--brightBlue);
  --buttonColor: var(--white);
  --buttonBgColor: var(--brightBlue);
  --borderColor: var(--grey);
  --borderActiveColor: var(--medGrey);
  --borderHover: var(--darkGrey);
  --boxBgColor: var(--white);
  --inputColor: var(--darkGrey);
  --placeholderColor: var(--brandBlue);
  --iconColor: var(--brightBlue);
  --tableColor: var(--white);
  --tableBgColor: var(--brightBlue);

  /* Status colors */
  --errorColor: var(--red);
  --statusColor: var(--lightGreen);
  --warningColor: var(--yellow);
  --unpublishedColor: hsl(0, 100%, 98%);

  /* Shadows */
  --borderShadow: rgba(51, 51, 51, 0.2);
  --borderShadowActive: rgba(0, 127, 255, 0.85);
  --boxShadow01: 0 1px 2px var(--borderShadow);
  --boxShadow02: 0 1px 4px var(--borderShadow);
  --boxShadow03: 0 2px 10px var(--borderShadow);
  --boxShadow04: 0 2px 13px 4px var(--borderShadow);
  --boxShadow05: 0 4px 20px 4px var(--borderShadow);
  --boxShadow06: 0 4px 26px 8px var(--borderShadow);
}

/* Larger than HD desktop */
@media (min-width: 75em) {
  :root {
    --fontSize: 1.125em;
    --h1Size: 52px;
    --h2Size: 42px;
    --h3Size: 32px;
    --h4Size: 26px;
    --smSize: 16px;
    --lgSize: 24px;
    --layoutWidth: var(--layoutWidthMax);
    --layoutDefaultSpacing: var(--layout07);
  }
}


/*********************************************
 * @file
 * Base element styles.
 */

/* Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: var(--fontSize);
  scroll-behavior: smooth;
}

body {
  color: var(--color);
  background-color: var(--bgColor);
  font-family: neue-haas-unica, -system-ui, system-ui, sans-serif;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Spacing */
h2,
h3,
h4,
input,
textarea,
select,
fieldset,
summary {
  margin-bottom: var(--layout02);
}

h1,
pre,
blockquote,
dl,
p,
ul,
ol,
details,
figure,
table,
form {
  margin-bottom: var(--layout03);
}

li {
  margin-bottom: var(--layout01);
}

/* Typography */
h1,
h2,
h3,
h4 {
  margin-top: 0;
  color: var(--headingColor);
}

h1 {
  margin-top: 10px;
  font-size: var(--h1Size);
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: var(--h2Size);
  font-weight: 700;
  line-height: 1;
}

h3 {
  font-size: var(--h3Size);
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  font-size: var(--h4Size);
  font-weight: 500;
  line-height: 1.25;
}

/* Paragraphs */
p {
  margin-top: 0;
}

/* Links */
a {
  text-decoration: none;
  color: var(--linkColor);
}

a:hover {
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}

/* Images */
img,
svg {
  max-width: 100%;
  height: auto;
}

/* Figures */
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

figure img {
  vertical-align: top;
}

/* Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: var(--spacing02) var(--spacing05);
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: var(--buttonColor);
  border: 2px solid var(--buttonBgColor);
  border-radius: var(--radius03);
  background-color: var(--buttonBgColor);
  font-size: var(--smSize);
  font-weight: bold;
  font-style: inherit;
  line-height: 1.6;
}

button {
  vertical-align: middle;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  opacity: 0.8;
  text-decoration: none;
}

button[disabled],
input[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Checkboxes/radios */
input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--placeholderColor);
  width: 20px;
  height: 20px;
  margin-right: var(--spacing05);
  margin-left: var(--spacing05);
  cursor: pointer;
  transition: border 0.15s ease-in-out;
  border: 1px solid var(--borderColor);
  outline: none;
  background: var(--boxBgColor);
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
  border-color: var(--borderHover);
}

/* Forms */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  line-height: 2rem;
  width: 100%;
  padding: var(--spacing03);
  color: var(--inputColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  background-color: var(--boxBgColor);
  box-shadow: none;
  font-size: inherit;
}

select {
  padding-right: 45px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45.1' height='45.1' fill='none' stroke='%23b6b6b6'%3E%3Cpath d='M32.642 20.3l-9.823 9.823L13 20.3' stroke-width='4'/%3E%3Ccircle cx='22.55' cy='22.55' r='21.55' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 20px 20px;
  font-size: inherit;
  appearance: none;
}

textarea {
  min-height: 6.5rem;
  padding: var(--spacing03);
  line-height: inherit;
  font-family: inherit;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--borderActiveColor);
  outline: 0;
  box-shadow: var(--boxShadow01) inset;
}

select:required:invalid {
  color: var(--placeholderColor);
}

::placeholder {
  color: var(--placeholderColor);
}

fieldset {
  border: 1px solid var(--borderColor);
  border-radius: 3px;
}

legend {
  padding: var(--spacing03);
}

label {
  display: inline-block;
}

label span {
  display: inline-block;
  margin-left: var(--spacing01);
}

option {
  padding: var(--spacing03);
}

option[value=""][disabled] {
  display: none;
}

/* Horizontal rule */
hr {
  margin: auto;
  border: 3px solid var(--borderColor);
  max-width: 700px;
}

/* Blockquotes */
blockquote {
  display: block;
  padding: var(--layout03) 45px 0 45px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  position: relative;
  border: 10px solid var(--brandBlue);
}

blockquote::before,
blockquote::after {
  font-size: 60px;
  font-weight: bold;
  color: var(--brandBlue);
}

blockquote::before {
  content: "\201C";
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote::after {
  content: "\201D";
  position: absolute;
  bottom: -15px;
  right: 10px;
}

/* Lists */
ul,
ol {
  list-style-position: outside;
  padding-left: var(--spacing06);
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1rem 0 1rem 1.5rem;
  font-size: 100%;
}

dt {
  font-weight: bold;
}

/* Tables */
table {
  border-spacing: 0;
}

thead {
  background-color: var(--tableBgColor);
  color: var(--tableColor);
  text-transform: uppercase;
}

thead th,
thead td {
  line-height: 24px;
}

tbody {
  vertical-align: baseline;
}

th,
td {
  border-bottom: 1px solid var(--borderColor);
  line-height: 22px;
  padding: 12px 15px;
  text-align: left;
}

/* Phrasing content */
sup,
sub {
  font-size: var(--smSize);
}


/****************************************************
 * @file
 * Layout styling for pages.
 */

 .page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.page--full-width {
  --layoutContentWidth: none;
  --layoutContentSpacing: 0;
}

.page__header {
  --header-padding: 0 var(--gutterWidth);
  z-index: 50;
}

.page__cta,
.page__cta:hover {
  color: var(--buttonColor);
  text-decoration: none;
}

.page__header--overlay,
.page__header--overlay + .page__content {
  grid-row: 1 / -1;
  grid-column: 1;
}

.page__footer {
  max-width: 65em;
  width: 100%;
  margin: var(--layout06) auto var(--layout02);
  padding-left: var(--gutterWidth);
  padding-right: var(--gutterWidth);
}


/****************************************************
 * @file
 * Provides layout styling for regions.
 */

 .region {
  padding-top: var(--layoutDefaultSpacing);
  padding-bottom: var(--layoutDefaultSpacing);
}

.region--content,
.region--highlighted {
  --layoutDefaultSpacing: var(--layoutContentSpacing);
  --layoutWidth: var(--layoutContentWidth);
}

.region__wrapper {
  width: 100%;
  max-width: var(--layoutWidth);
  margin: auto;
}


/****************************************************
 * @file
 * Section base styles.
 */

 .section {
  --sectionBgImage: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--sectionBgColor, transparent);
  background-image: var(--sectionBgImage);
  padding: var(--sectionSpaceTop, var(--layout07)) var(--layout02) var(--sectionSpaceBottom, var(--layout07));
}

.section__content {
  width: 100%;
  max-width: var(--layoutWidthMax);
  margin: auto;
}

.section-st-none {
  --sectionSpaceTop: 0;
}

.section-sb-none {
  --sectionSpaceBottom: 0;
}

.section-st-01 {
  --sectionSpaceTop: var(--layout01);
}

.section-sb-01 {
  --sectionSpaceBottom: var(--layout01);
}

.section-st-02 {
  --sectionSpaceTop: var(--layout02);
}

.section-sb-02 {
  --sectionSpaceBottom: var(--layout02);
}

.section-st-03 {
  --sectionSpaceTop: var(--layout03);
}

.section-sb-03 {
  --sectionSpaceBottom: var(--layout03);
}

.section-st-04 {
  --sectionSpaceTop: var(--layout04);
}

.section-sb-04 {
  --sectionSpaceBottom: var(--layout04);
}

.section-st-05 {
  --sectionSpaceTop: var(--layout05);
}

.section-sb-05 {
  --sectionSpaceBottom: var(--layout05);
}

.section-st-06 {
  --sectionSpaceTop: var(--layout06);
}

.section-sb-06 {
  --sectionSpaceBottom: var(--layout06);
}

.section-st-07 {
  --sectionSpaceTop: var(--layout07);
}

.section-sb-07 {
  --sectionSpaceBottom: var(--layout07);
}

.section-st-08 {
  --sectionSpaceTop: var(--layout08);
}

.section-sb-08 {
  --sectionSpaceBottom: var(--layout08);
}


/****************************************************
 * @file
 * Visual styles for buttons.
 */

 .button {
  text-transform: none;
}

.button:hover {
  text-decoration: none;
}

.button:not(:last-child) {
  margin-right: var(--spacing02);
}

.button--transactional {
  --buttonBgColor: var(--orange);
  color: var(--white);
}

.button--secondary {
  border-color: var(--buttonBgColor);
}

.button--tertiary {
  font-size: 1.1em;
  font-weight: normal;
  border-color: transparent;
}

.button--secondary,
.button--tertiary {
  color: var(--buttonBgColor);
  background-color: transparent;
}

.button--secondary:hover,
.button--tertiary:hover,
.button--secondary:focus,
.button--tertiary:focus {
  background-color: transparent;
}

.button__prepend,
.button__append {
  width: 1em;
  height: 1em;
  fill: currentColor;
  align-self: center;
}

.button__prepend {
  margin-right: var(--spacing03);
}

.button__append {
  margin-left: var(--spacing03);
}


/****************************************************
 * @file
 * Visual styles for form elements.
 */

 .form-item > label:not(.option) {
  display: inline-block;
  margin-bottom: var(--layout01);
  font-weight: bold;
  text-transform: capitalize;
  font-size: var(--smSize);
}

.form-text.error {
  border: 1px solid var(--errorColor);
}

.description {
  font-size: small;
}

input + .description,
.image-widget + .description {
  margin-bottom: var(--spacing05);
}


/****************************************************
 * @file
 * Visual styles for messages.
 */

 .message {
  padding: var(--spacing05) var(--spacing07);
  word-wrap: break-word;
  color: var(--color);
  border: 1px solid var(--grey);
  border-left-width: 4px;
  border-radius: 4px;
  background: var(--white) no-repeat 0.5rem 1.2rem;
  background-size: 1rem 1rem;
  overflow-wrap: break-word;
  /* Custom attributes to put messages on top */
  position: fixed;
  visibility: hidden;
  top: calc(100% - (var(--spacing07) * 3));
  left: var(--spacing07);
  width: calc(100% - (var(--spacing07) * 2));
  z-index: 200;
}

.message + .message {
  margin-top: var(--layout02);
}

.message__text {
  margin: 0;
  padding: 0;
}

.message__text + .message__text {
  margin-top: var(--layout02);
}

.message--status {
  border-left-color: var(--statusColor);
  background-color: rgba(148 187 32 / .25);
  background-image: url("images/check.svg");
}

.message--warning {
  border-left-color: var(--warningColor);
  background-color: rgba(237 196 23 / .25);
  background-image: url("images/warning.svg");
}

.message--error {
  border-left-color: var(--errorColor);
  background-color: rgba(211 18 69 / .25);
  background-image: url("images/error.svg");
}

.message--visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.message--hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}